<!DOCTYPE html>
<html>
<head>
<title>About - CGNet Swara</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/complete.css">
<link rel="icon" type="image/png" href="http://cgnetswara.org/stanford/loudblog/custom/templates/default/images/cgnetLogo.png">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="http://cgnetswara.org/stanford/index_new.php">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="recognition_new.html">Recognition</a></li>
              <li><a href="contact_new.html">Contact</a></li>              
            </ul>
          </div>
          
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="http://cgnetswara.org/stanford/index_new.php" class="logo"><img src="images/cgnetLogo.png" alt=""></a></div>
          <div class="heading-content">
		<h4>CGNet Swara is a platform to discuss issues related to Central Gondwana region in India.</h4>
		<h4> To record a message, call us on +91-8050068000.</h4>
	  </div>
	  <div class="social_area" style="margin-right: 15px;">
            <ul class="social_nav" >
              <li class="facebook"><a href="https://www.facebook.com/CGNetSwara/"></a></li>
              <li class="twitter"><a href="https://twitter.com/CGnet_Swara"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="about-content">
          <h2>About CGNet Swara</h2>
          <p>
            CGNet Swara is a voice-based portal, freely accessible via mobile phone, that allows anyon to report and listen to stories of local interest. Reported stories are moderated by journalists and become available for playback online as well as over the phone (+91 8050068000). 
          </p>
        </div>
        <div class="about-content">
          <h2>Overview</h2>
          <p>
            Many of the estimated 80 million members of India's tribal communities lack access to any mainstream media outlets. This often poses serious barriers to their socio-economic development, as their grievances about government neglect and economic exploitation remain unvoiced. In addition, certain factions (such as the Maoist insurgency) can exploit their frustration and isolation to violent ends.
          </p>
          <p> 
            To address this important problem, we have built and deployed CGNet Swara: a voice portal that enables ordinary citizens to report and discuss issues of local interest. To use it, they call a phone number using any mobile (or fixed line) phone. Callers are prompted to press "1" to record a new message, and "2" to listen to messages that have already been recorded. Once a message has been recorded from the field, professional, trained journalists, who access the system using a Web-based interface, review and verify the report. Approved reports are then made available for playback over the phone. The reports also can be accessed on the CGNet Swara website. 
          </p>
          <p>
            CGNet Swara was launched as part of the <a href="http://knight.icfj.org/">Knight International Journalism Fellowships</a>, a program of the <a href="http://www.icfj.org/">International Center for Journalists</a>. For more background on CGNet Swara, we invite you to view the following interviews and presentations: 
          </p>
          <div class="presentation-content">

            <table>
              <tr>
                <td>
                  <a href="http://www.youtube.com/watch?v=R3Bgas5HZIo"><img src="images/shu-tedx.png" align=right width=315></a>
                </td>
                <td>
                  Shubhranshu Choudhary.<br>
                  TEDx Talk in Bangalore.<br>
                  January 21, 2012.<br>
                </td>
              </tr>

              <tr>
                <td>
                  <a href="http://nuscast.nus.edu.sg/PublicEvents/1/MODVideoOnly.aspx?KEY=d5486bd9-d7c2-4315-a3f9-33ce2bc91bd6"><img src="http://cgnetswara.org/loudblog/custom/templates/default/i/nus-interview-small.png" align=right width=315></a>
                </td>
                <td>
                  Shubhranshu Choudhary.<br>
                  Interview at the National University of Singapore.<br>
                  February 17, 2011.<br>
                </td>
              </tr>

              <tr>
                <td>
                  <a href="i/msr-talk.pdf"><img src="http://cgnetswara.org/loudblog/custom/templates/default/i/msr-talk.png" align=right></a>
                </td>
                <td>
                  Bill Thies.<br>
                  Presentation at Microsoft Research, India.<br>
                  April 18, 2011.<br>
                  <br><br>
                  An older version of this talk (presented at Stanford University) is also <a href="http://fsi.stanford.edu/news/bill_thies_on_leveraging_technologies_for_citizen_journalism_education_and_healthcare_in_india_20100311/">available on video</a>.
                </td>
              </tr>

              <tr>
                <td>
                  <iframe width="315" height="177" src="http://www.youtube.com/embed/kbAFwZMs4vA" frameborder="0" allowfullscreen></iframe>
                </td>
                <td>
                  Short animation describing CGNet Swara.
                </td>
              </tr>

            </table>
          </div>
        </div>

          <div class="about-content">
            <h2>Technology</h2>
            <p>
              The software underlying CGNet Swara is open-source and freely available from an <a href="http://swara.mojolab.org">online repository</a>. The system was originally developed as a project at the Massachusetts Institute of Technology, and is currently maintained with the support of Janastu, Microsoft Research India and several volunteers.
            </p>
            <p>
              While the technology for building interactive voice services (IVR) has been around for a long time, what distinguishes CGNet Swara is the ability for callers to contribute information to the system.  Most IVR platforms are designed for callers to listen to messages, but on CGNet Swara, they can also record their own messages for others to hear. Our platform includes a moderator's interface that enables privileged users to review the recordings, and optionally annotate or edit them, prior to making them public.
            </p>

            <p>The CGNet Swara server can be easily replicated.  The system requirements are:</p>

              
              <ul>
                <li>A desktop computer running Linux and <a href="http://www.asterisk.org/">Asterisk</a>.
                <li>An Internet connection (for hosting the Web server).
                <li>A telephony interface.  We recommend the <a href="http://www.topex.ro/en/products/mobilink_ip_-_voip-gsm_gateway">Topex Mobilink IP</a> to enable calls via a cellular SIM card.
              </ul>
              

            <p>We are happy to offer guidance to other organizations who are seeking to establish similar services around the world.</p>
          </div>

        <div class="about-content">
            <h2>Publications</h2>    
            <p>The following publications were authored by (or in cooperation with) the CGNet Swara team:</p>
            
            <ul>
              <li>
                <p><a href="http://research.microsoft.com/apps/pubs/?id=156562">
                <strong>Emergent Practices Around CGNet Swara, A Voice Forum for Citizen Journalism in Rural India</strong></a>.<br>
                Preeti Mudliar, Jonathan Donner, and William Thies.<br>
                International Conference on Information and Communication Technologies and Development (ICTD 2012).<br>
                Atlanta, GA, March, 2012. <a href="http://research.microsoft.com/~thies/swara-ictd12.pdf">Presentation slides in PDF</a> or <a href="http://research.microsoft.com/~thies/swara-ictd12.pptx">PPT</a>.</p>
              </li>

              <li>
                <p>
                  <a href="http://indiagovernance.gov.in/files/cgnet-swara.pdf"><strong>Cellphones as a Tool for Democracy: The Example of CGNet Swara</strong></a>.<br>
                  Anoop Saha.<br>
                  Economic & Political Weekly.<br>
                  Vol. XLVII, No. 15, April 14, 2012.
                </p>
              </li>

            </ul>
        </div>

        <div class="about-content">
            <h2>Team</h2>
            <h4><i>Core Team</i></h4>

              <ul>
                <li>
                  <p><b>Shubhranshu Choudhary</b> is a Knight International Journalism
                  Fellow and the founder of CGNet Swara.  Shubhranshu was a BBC South
                  Asia producer for more than 10 years.  He also has served as a media
                  trainer for the BBC World Service Trust, the United Nations and Indian
                  universities. He produced the first television coverage of foreign
                  militants operating in Indian Kashmir and conducted the first
                  television interview with the chief commander of the Kashmiri militant
                  organization.  He was a TV and radio producer for the BBC's South Asia
                  bureau for eight years, and a reporter for The Guardian's South Asia
                  bureau for two years. He was a reporter for five years at the
                  Hindi-language Daily Deshbandhu.</p>
                </li>

                <li><p><b>Bill Thies</b> is a researcher at Microsoft Research India, where
                    he is a member of the Technologies for Emerging Markets Group. His
                    research focuses on creating appropriate information and communication
                    technologies to promote socio-economic development, and he has
                    published over 40 peer-reviewed articles in this and related fields.
                    Bill received all of his degrees from the Massachusetts Institute of
                    Technology, where he finished his Ph.D. in computer science in 2009.
                    His Ph.D. thesis was the recipient of the ACM SIGPLAN Outstanding
                    Doctoral Dissertation Award.  Bill designed the initial technology for
                    CGNet Swara and has been associated with the project since its
                    inception.</p>
                </li>

                <li><p><b>Arjun Venkatraman</b> is a social entrepreneur with a background in
                    architecting bleeding edge tactical IT solutions into enterprise IT
                    projects.  He has worked with a diverse range of technologies and
                    users, including the telecom sector in the United Kingdom and
                    virtualization for financial services customers on Wall Street.
                    Having grown up in a family of social activists he has been interested
                    in finding sustainable methods of information exchange, empowerment
                    and participatory democracy. Of particular interest to him is the
                    challenge of connecting communities with language and literacy
                    barriers to the information superhighway.  He has been associated with
                    CGNet Swara since 2010 as a volunteer and technical advisor.</p>
                </li>

                <li><p><b>Anoop Saha</b> graduated from Indian Institute of Technology,
                    Kanpur with Computer Science and Engineering as his major.  He
                    currently works in the field of electronic design automation.  Anoop
                    was born in the remote South Bastar district of Chhattisgarh,
                    India. His parents migrated from Bangladesh to India in 1957. Because
                    of his background, issues such as displacement are close to Anoop's
                    heart. Growing up in a working class family in one of the most
                    isolated and conflict ridden parts of India, Anoop has a deep
                    understanding of the issues faced by the communities of the
                    region. Thus, he merges both the technical and social aspects of the
                    project.  Anoop has been associated with CGNet as its co-moderator
                    since 2004.</p>
                </li>

              </ul>
            <h4><i>Advisors</i></h4>
              <ul>
                
                <li><p><b>Smita Choudhary</b> is an engineer, entrepreneur and veteran
                    manager with over 20 years of experience with organizations such as
                    LML, Seimens, Crompton Greaves and the BBC World Service
                    Trust. Smita's experience spans several diverse fields, ranging from
                    marketing campaigns in the automobile industry to bootstrapping small
                    businesses. She has worked extensively with non-profit organizations,
                    both at the grassroots level as well as in administration. Her cross
                    functional skill set and hands on approach are an invaluable
                    contribution.  Smita has been associated with CGNet since its
                    inception.</p>
                </li>

                <li><p><b>Elisa Tinsley</b> is the director of the Knight
                    International Journalism Fellowships, a program of the Washington,
                    D.C.-based International Center for Journalists. Elisa is responsible
                    for supervising and implementing this world-wide media assistance
                    program, funded by the John S. and James L. Knight Foundation. She has
                    three decades of professional journalism experience. From 2000 to
                    2007, she was World Editor at USA Today, where she directed a team of
                    staff reporters and freelance journalists who provided international
                    coverage for America.s largest-circulation newspaper. During her
                    nearly 19 years at the newspaper, she oversaw the expansion of USA
                    Today's international bureaus and coverage of the wars in Afghanistan
                    and Iraq. From 1984 to 1988, she was a Moscow-based correspondent for
                    United Press International, Time, Newsweek and USA Today. She started
                    her journalism career as a business reporter and editor in Chicago and
                    New York. Elisa received her bachelor's degree in English literature
                    from Washington University in St. Louis. She has a master's degree in
                    English literature and language from the University of Chicago.</p>
                </li>

                <li><p><b>Radhika Shah</b> is a technology entrepreneur and an active
                    mentor in the nonprofit space. In addition to being an advisor to
                    CGNet Swara, she is a cofounder of RajeevCircle - a mentoring group in
                    memory of Stanford Prof Rajeev Motwani, and is on the board of The
                    Friends of The Lurdes Mutola Foundation - a nonprofit that helps
                    educate and empower marginalized girls in rural Mozambique. She has
                    been in executive and leadership roles in the software industry. She
                    founded VirtualSynaptics, a cognitive matching company where as VP
                    Products and Business Development she led the product and engineering
                    teams, and drove business strategy. She was part of the initial teams
                    at GreenBorder (acquired by Google), Oracle.s security products group,
                    and BroadVision. She has also worked at SGI, Sun, Microsystems, IBM
                    Almaden, and Indian Space Research Organization. Radhika holds an MSCS
                    from Stanford and an MBA from Berkeley.She is now also an advisor to 
		    the <a href="https://www.sdgphilanthropy.org/">SDG Philanthropy 
		    Platform</a>.</p>
                </li>

                <li><p><b>Benjamin Colmery</b> is the deputy director of Knight
                    International Journalism Fellowships, a program of the Washington,
                    D.C.-based International Center for Journalists. Ben is responsible
                    for assisting in the implementation of the program, with special
                    emphasis on partner development, promotion of the program with
                    international visitors, and monitoring and evaluation. He has worked
                    in Eastern Europe, Sub-Saharan Africa, South America and South Asia to
                    build the capacity of journalists and citizen journalists to inform
                    the public through traditional and new media. He also completed
                    extensive research on the use of economic journalism to foster
                    transparency in the oil, gas and mining industries in Ghana and
                    Nigeria. His journalism development career began with a training
                    program he launched in Ukraine to promote print journalism in several
                    small Ukrainian communities after the 2004 Orange Revolution. He has a
                    master.s degree in international media development and communications
                    from Columbia University.s School of International and Public Affairs,
                    and a bachelor.s degree in English literature from Albion College.</p>
                </li>

                <li><p><b>Saman Amarasinghe</b> is a professor in the Department of
                    Electrical Engineering and Computer Science at the Massachusetts
                    Institute of Technology and a member of the Computer Science and
                    Artificial Intelligence Laboratory (CSAIL).  His research interests
                    are in discovering novel approaches to improve the performance of
                    modern computer systems without unduly increasing the complexity faced
                    by either application developers, compiler writers, or computer
                    architects.  Saman received his B.S. in Electrical Engineering and
                    Computer Science from Cornell University in 1988, and his M.S.E.E. and
                    Ph.D. from Stanford University in 1990 and 1997, respectively.</p>
                </li>
              </ul>

            <h4><i>Prior Contributors</i></h4>

              <p>We are very grateful to the hard work on the part of prior contributors to CGNet Swara, including:
              <ul>
                <li><p><b>Samujjal Purkayastha</b> (Tufts University)</p>
                <li><p><b>Latif Alam</b> (Massachusetts Institute of Technology)</p>
                <li><p><b>Devadatta Sahoo</b> (NetTantra, Inc.)</p>
                <li><p><b>Preeti Mudliar</b> (University of Texas at Austin)</p>
              </ul>
              

            <h4><i>Web Design</i></h4>
              <p>We thank <a href="http://rahulgonsalves.com"><b>Rahul Gonsalves</b></a> for an excellent redesign of our site!</p>
      </div>

      <div class="about-content">
        <h2>Support</h2>
        <p>CGNet Swara is made possible by the generous support of several organizations, including:</p>
          <ul>
            <li><p><a href="http://www.environicsindia.in/">Environics Trust</a><br></p></li>
            <li><p><a href="http://www.gatesfoundation.org/">Gates Foundation</a><br></p></li>
            <li><p><a href="http://www.hivos.org/">Hivos</a><br></p></li>
            <li><p><a href="http://www.icfj.org/">International Center for Journalists</a><br></p></li>
            <li><p><a href="http://www.ipsmf.org/">IPS Media Foundation</a><br></p></li>
            <li><p><a href="https://www.macfound.org/">MacArthur Foundation</a><br></p></li>
            <li><p><a href="http://www.sitaraindia.org/">Sitara</a><br></p></li>
            <li><p><a href="http://www.un.org/democracyfund/">UN Democracy Fund</a></p></li>
          </ul>        
      </div>

      <div class="about-content">
        <h2>About IPS Media Foundation</h2>
        <p>Independent and Public-Spirited Media Foundation is a public charitable trust registered vide a trust deed executed on July 1, 2015, as document No. 99 IV (15-16) dated July 1, 2015, at the office of the Sub-Registrar, Gandhinagar, Bangalore, Karnataka.  IPSMF has been registered under Section 12AA (a) of the IT Act, 1961 and its registration number is CIT(E)/BLR/12A/M-134/AABT12413E/ITO(E)-1/ Vol 2015-2016 with effect from 08.01.2016. IPSMF has also been granted approval under section 80G (5) (vi) of the IT Act 1961 with effect from 08.01.2016 (Approval no: CIT(E)/BLR/80G/M-135/AABT12413E/ITO(E)-1/ Vol 2015-2016).</p>
      </div>

     </div> 
    </div>
  </section>
  <footer id="footer">
    <div class="footer_bottom">
      <!--<p class="copyright">Copyright &copy; CGNet Swara</p>-->
    </div>
  </footer>
</div>
<script src="assets/js/complete.js"></script>
</body>
</html>