<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
<title>CGNet Swara</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="fb:app_id" content="1293600994030280" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta http-equiv="imagetoolbar" content="no" /> 
<meta name="description" content="<lb:sitedescription />" />
<meta name="copyright" content="<lb:sitename />" /> 
<meta name="company" content="<lb:sitename />" /> 
<meta name="revisit-after" content="3 days" /> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-language" content="en-GB" />
<meta property="og:type" content="article" />

<!--For list-->
<meta property="og:image" content="http://cgnetswara.org/stanford/loudblog/custom/templates/default/i/training-camp-smaller.jpg"/>
<meta property="og:description" content="<lb:sitedescription />" />
<meta property="og:url" content="http://cgnetswara.org/stanford/" />
<meta property="og:title" content="CGNet Swara" />
<!---->

<link rel="stylesheet" href="assets/css/complete.css" type="text/css" />
<link rel="icon" type="image/png" href="http://cgnetswara.org/stanford/loudblog/custom/templates/default/images/cgnetLogo.png">



<lb:rssfeedhead />

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<!-- audio player -->
<script src="audiojs/audio.min.js"></script>
<script>
      audiojs.events.ready(function() {
        audiojs.createAll();
      });
</script>
<!-- -->


</head>


<body> <!-- onload='clipText()'>  -->
<!--<div id="preloader">
  <div id="status">&nbsp;</div>
</div>-->

<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="http://cgnetswara.org/stanford/index_new.php">Home</a></li>
              <li><a href="about_new.html">About</a></li>
              <li><a href="recognition_new.html">Recognition</a></li>
              <li><a href="contact_new.html">Contact</a></li>                
            </ul>
          </div>
         
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="http://cgnetswara.org/stanford/index_new.php" class="logo"><img src="images/cgnetLogo.png" alt=""></a></div>      
	  <div class="heading-content">
		<h4>CGNet Swara is a platform to discuss issues related to Central Gondwana region in India.</h4>
		<h4> To record a message, call us on +91-8050068000.</h4>
	  </div>    
          <div class="social_area" style="margin-right: 15px;">
            <ul class="social_nav" >
              <li class="facebook"><a href="https://www.facebook.com/CGNetSwara/"></a></li>
              <li class="twitter"><a href="https://twitter.com/CGnet_Swara"></a></li>
              <li class="mail"><a href="#"></a></li>	
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">

          <div class="single_post_content">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="http://cgnetswara.org/stanford/index_new.php" aria-controls="home" role="tab" >Recent</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Featured</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Action</a></li>
              <li role="presentation" class="active"><a href="#" aria-controls="messages" role="tab" data-toggle="tab">Impact</a></li>
            </ul>

            
            <!-- DIV OF THE POSTS -->
            <div class="multiple_posts">
		<!--<div id="cse" style="width:100%;"></div>-->
		<gcse:searchresults> </gcse:searchresults> 
	     <!--each post-->
            <lb:loop_postings number="5" impact="yes" order="desc">
        <div class="outer_container_feed">
        <!--<div class = "panel">-->
        <div class="panel_header clearfix">
            <div class="tag_navbar">
		<div class="glyphicon glyphicon-tags" style="float: left;"></div>
		<div class="tag_list clearfix">
                	<lb:loop_postingtags_new><lb:postingtag_new link="true" /></lb:loop_postingtags_new>
		</div>
		<div class="date_bar" ><lb:posted format="M d, Y" /></div>			
            </div>
            
        </div>
        <div class="content_area clearfix">
            <div class="content_banner">
                <div class="row">
                    <lb:if_photo>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col flex-last">
                        <div class="post_info">
                            <div class="post_info_headline">
                                <h4><b><lb:link_permalink_new><lb:title /></lb:link_permalink_new></b></h4></div>
                            <div class="post_info_content">
                                <lb:link_permalink_new>
                                    <lb:message_clip /></lb:link_permalink_new>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col flex-first">
                        <div class="post_image">
                            <img src=<lb:imagefile /> /> 
                        </div>
		    </div>
		    </lb:if_photo>
		    <lb:if_nophoto>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col flex-last">
                        <div class="post_info">
                            <div class="post_info_headline">
                                <h4><b><lb:link_permalink_new><lb:title /></lb:link_permalink_new></b></h4></div>
                            <div class="post_info_content">
                                <lb:link_permalink_new>
                                    <lb:message_clip /></lb:link_permalink_new>
                            </div>
                        </div>
                    </div>
		    </lb:if_nophoto>

                </div>
            </div>
        </div>
        <div class="content_footer">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="author_details">
                        <div class="author_photo">
                            <img src="images/profile_blank.png" alt="Pic" class="img-circle" style="width: 30px; height: 30px" />
                        </div>
                        <div class="author_name"><b><lb:author_name /></b></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="audio_div">
                        <audio src=<lb:audiofile /> ></audio>
                    </div>
                </div>
		
            </div>
        </div>
        <!--</div>-->
	<div class="fb_div">
			<div class="fb-like" data-href="<lb:permalink_to_post_new />" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			<div class="fb-comments" data-href="<lb:permalink_to_post_new />" data-numposts="1"></div>
		</div>
	<div>.</div>
    </div>		</lb:loop_postings>

		<!--end of outer container div		
		<div>
		<p class="pagination" id="prev_page"><lb:link_prev_new>&laquo; View Newer Reports</lb:link_prev_new></p>
        	<p class="pagination" id="next_page"><lb:link_next_new>View Older Reports &raquo;</lb:link_next_new></p>
		</div>-->
		<ul class = "pager">
   			<li class = "previous"><lb:link_prev_new>&larr; Newer</lb:link_prev_new></li>
   			<li class = "next"><lb:link_next_new>Older &rarr;</lb:link_next_new></li>
		</ul>
            </div>
          
          </div>
          
          
         
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          
	  


          <div class="single_sidebar">            
            <h2><span>Language of report</span></h2>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php" id="alllang" class="active">All Languages</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=gondi" id="gondi">Gondi</a></li>
                  
                </ul>
              </div>             
            </div>
          </div>



          <div class="single_sidebar">
            <h2><span>Subject</span></h2>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item active"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=water" id="water">Water</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=handpump" id="handpump">Handpump</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=electricity" id="electricity">Electricity</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=forest" id="forest">Forest</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=nrega" id="nrega">NREGA</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/impact_new.php?tag=land" id="land">Land</a></li>
                </ul>
              </div>             
            </div>
          </div>


          <div class="single_sidebar">            
            <h2><span>Location</span></h2>
            <div class="tab-content">
              <div id="map">My map will go here</div>          
            </div>
          </div>
          
	<h3>Search Reports &raquo;</h3>
	<gcse:searchbox></gcse:searchbox>


	<h3>Android App &raquo;</h3>
	<a href="http://cgnetswara.org/CGNetSwara.apk">Click to Download</a>



        </aside>
      </div>
    </div>
  </section>
  <footer id="footer">
    
    <div class="footer_bottom">
      <!--<p class="copyright">Copyright &copy; CGNet Swara</p>-->
      
  </footer>
</div>
<script src="assets/js/complete.js"></script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXBHoBHfatiHqyS2hRQeYfhJ0cT1x1wAc&callback=initMap">
</script>

</body>
</html>
