<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://gmpg.org/xfn/11">
<title>CGNet Swara</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="fb:app_id" content="1293600994030280" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta http-equiv="imagetoolbar" content="no" /> 
<meta name="description" content="<lb:sitedescription />" />
<meta name="copyright" content="<lb:sitename />" /> 
<meta name="company" content="<lb:sitename />" /> 
<meta name="revisit-after" content="3 days" /> 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-language" content="en-GB" />
<meta property="og:type" content="article" />

<!--For list-->
<meta property="og:image" content="http://cgnetswara.org/stanford/loudblog/custom/templates/default/i/training-camp-smaller.jpg"/>
<meta property="og:description" content="<lb:sitedescription />" />
<meta property="og:url" content="http://cgnetswara.org/stanford/" />
<meta property="og:title" content="CGNet Swara" />
<!---->


<!--
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="assets/css/font.css">
<link rel="stylesheet" type="text/css" href="assets/css/li-scroller.css">
<link rel="stylesheet" type="text/css" href="assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="assets/css/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="assets/css/theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
-->
<link rel="stylesheet" type="text/css" href="assets/css/complete.css">
<link rel="icon" type="image/png" href="http://cgnetswara.org/stanford/loudblog/custom/templates/default/images/cgnetLogo.png">


<lb:rssfeedhead />

<!--[if lt IE 9]>
<script src="assets/js/html5shiv.min.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]--><!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script> 
-->
<!-- audio player -->
<script src="audiojs/audio.min.js"></script>
<script>
      audiojs.events.ready(function() {
        audiojs.createAll();
      });
</script>
<!-- -->

<!-- Facebook comments script --><!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.8&appId=1293600994030280";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>-->
<!-- End of Facebook comments script -->



<!--Google Maps Script--><!--
<script>
  locations = [
    ['MP', 23.344944, 77.664510],
    ['Dindori', 22.940903, 81.053120],
    ['Rewa', 24.536893, 81.304107],
    ['Mandla', 22.598084, 80.371664],
    ['Satna', 24.601221, 80.829139],
    ['Panna', 24.718251, 80.181543],
    ['Sidhi', 24.390029, 81.865441],
    ['CG', 21.315128, 81.703582],
    ['Kawardha', 22.009056, 81.224584],
    ['Rajnandgaon', 21.096844, 81.031068],
    ['Surajpur', 23.214911, 82.869721],
    ['Balrampur', 23.757925, 83.685534],
    ['Surguja', 22.952323, 83.209669],
    ['Korba', 22.359702, 82.752679],
    ['Janjgir', 22.010594, 82.571492],
    ['Sukma', 18.390804, 81.660257],
    ['Bijapur', 18.797484, 80.813875],
    ['Bastar', 19.197218, 81.920373],
    ['Odisha', 20.506916, 84.466284],
    ['Malkangiri',18.344895, 81.890524]
    ];
   function initMap() {
    var uluru = {lat: 22.902906, lng: 80.967498};
    var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 5,
     center: uluru
    });
    for (i=0; i<locations.length;i++){
      var marker = new google.maps.Marker({
        title: locations[i][0],
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        //url: "http://cgnetswara.org/stanford/index_new.php?tag="+location[i][0],
        map: map
      });
      google.maps.event.addListener(marker, 'click', function() {
          window.location.href = "http://cgnetswara.org/stanford/index_new.php?tag="+this.title;
      });
    }
   }
</script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXBHoBHfatiHqyS2hRQeYfhJ0cT1x1wAc&callback=initMap">
</script>-->

<!--End of Google Maps Script-->

<!--
<style type="text/css">
    /*.container_feed{ width: 600px; margin: 3px; border: 2px solid; border-radius: 10px; }*/
    .outer_container_feed {border: 2px solid; border-radius: 10px; margin-top: 30px; margin-bottom: 50px; padding: 3px;}
    .panel_header {margin-bottom: 5px;}
    .tag { float:left; width: 35px; margin:10px;    display: inline; }
    .top_info {float:right; width: 40px; margin: 10px; background: #666; border: 1px solid #fff; ;}
    .tag_navbar {float: left; margin: 10px; width: 100%; height: 18px; overflow: hidden;}
    .tag_navbar ul { list-style-type: none;  color: #fff; display: inline; }
    .tag_navbar ul li {  padding:0 0 0 20px; display: inline; color: #fff;}
    .tag_navbar ul li a {font-size: 12px; float: left; padding: 0 0 0 20px; display: inline;}
    .tag_list { width: 70%; overflow: hidden;  position: absolute; }
    .content_banner { height: 200px; padding: 10px; margin-bottom: 10px;}
    .content_footer {padding: 10px; padding-top: 5px; height: 40px; margin-bottom: 15px;}
    .content_area {margin: 2px;}
    .outer_container {padding: 10px;}
    .post_info {float: left;  text-align: left; margin: 10px; padding: 10px; text-align: justify; font-family: sans-serif; }
    .post_image { float: right; margin-right: 15px; } /*width: 25%; height: 135px;   margin: 15px;*/
    .post_image img {  height: 135px; width: 100%; margin-top: 10px;}
    .post_info_headline { width: 100%; margin-bottom: 5px; }
    .post_info_headline h4 {display: inline; }
    .post_info_content  { width: 100%; font-size: 15px; overflow: hidden; }
    .date_bar {float: right; text-align: right; margin-right: 30px;}
    .author_details {float: left; display:inline; }
    .author_photo {display: inline; float: left;  margin: 5px; margin-left: 20px; width: 30px; height: 30px; ;}
    .author_name {position: absolute; display: inline; float: left; margin: 5px; margin-left: 20px; color: #b32400; height: 30px; padding-top: 3px; width: 250px; overflow: hidden;}
    .audio_div {display: inline; float: right;  margin-right: 15px; text-align: right; width: auto;}
    .fb_div {margin: 5px; margin-left: 25px;}
    #prev_page{text-align:left;}
    #next_page {text-align: right;}
    .input-group-addon img{
  	height: 24px;
  	margin-right: -16px;
  	margin-bottom: -6px;
  	vertical-align:text-bottom; /* align the text */
	}
    #map {
    height: 400px;
    width: 100%;
   }
   .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;     /* triggers hasLayout */
}
    
</style>-->
</head>


<body>
<!--<div id="preloader">
  <div id="status">&nbsp;</div>
</div>-->

<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="http://cgnetswara.org/stanford/index_new.php">Home</a></li>
              <li><a href="about_new.html">About</a></li>
              <li><a href="recognition_new.html">Recognition</a></li>
              <li><a href="contact_new.html">Contact</a></li>              
            </ul>
          </div>
         
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="http://cgnetswara.org/stanford/index_new.php" class="logo"><img src="images/cgnetLogo.png" alt=""></a></div>      
	  <div class="heading-content">
		<h4>CGNet Swara is a platform to discuss issues related to Central Gondwana region in India.</h4>
		<h4> To record a message, call us on +91-8050068000.</h4>
	  </div>    
          <div class="social_area" style="margin-right: 15px;">
            <ul class="social_nav" >
              <li class="facebook"><a href="https://www.facebook.com/CGNetSwara/"></a></li>
              <li class="twitter"><a href="https://twitter.com/CGnet_Swara"></a></li>
              <li class="mail"><a href="#"></a></li>	
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">

          <div class="single_post_content">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Recent</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Featured</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Action</a></li>
              <li role="presentation"><a href="http://cgnetswara.org/stanford/impact_new.php" aria-controls="messages" role="tab" >Impact</a></li>
            </ul>

            
            <!-- DIV OF THE POSTS -->
            <div class="multiple_posts">
		<!--<div id="cse" style="width:100%;"></div>-->
		<gcse:searchresults> </gcse:searchresults> 
	     <!--each post-->
            <lb:loop_postings number="5" order="desc">
        <div class="outer_container_feed ">
        <!--<div class = "panel">-->
        <div class="panel_header clearfix">
            <div class="tag_navbar">
		<div class="glyphicon glyphicon-tags" style="float: left;"></div>
		<div class="tag_list clearfix">
                	<lb:loop_postingtags_new><lb:postingtag_new link="true" /></lb:loop_postingtags_new>
		</div>
		<div class="date_bar" ><lb:posted format="M d, Y" /></div>			
            </div>
            
        </div>
        <div class="content_area">
            <div class="content_banner">
                <div class="row">
		    <lb:if_photo>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col flex-last">
                        <div class="post_info">
                            <div class="post_info_headline">
                                <h4><b><lb:link_permalink_new><lb:title /></lb:link_permalink_new></b></h4></div>
                            <div class="post_info_content">
                                <lb:link_permalink_new>
                                    <lb:message_clip /></lb:link_permalink_new>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col flex-first">
                        <div class="post_image">
                            <img src=<lb:imagefile /> /> 
                        </div>
		    </div>
		    </lb:if_photo>
		    <lb:if_nophoto>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col flex-last">
                        <div class="post_info">
                            <div class="post_info_headline">
                                <h4><b><lb:link_permalink_new><lb:title /></lb:link_permalink_new></b></h4></div>
                            <div class="post_info_content">
                                <lb:link_permalink_new>
                                    <lb:message_clip /></lb:link_permalink_new>
                            </div>
                        </div>
                    </div>
		    </lb:if_nophoto>
                </div>
            </div>
        </div>
        <div class="content_footer">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="author_details">
                        <div class="author_photo">
                            <img src="images/profile_blank.png" alt="Pic" class="img-circle" style="width: 30px; height: 30px" />
                        </div>
                        <div class="author_name"><b><lb:author_name /></b></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="audio_div">
                        <audio src=<lb:audiofile /> preload="none" ></audio>
                    </div>
                </div>
		
            </div>
        </div>
        <!--</div>-->
	<div class="fb_div">
			<div class="fb-like" data-href="<lb:permalink_to_post_new />" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			<div class="fb-comments" data-href="<lb:permalink_to_post_new />" data-numposts="1"></div>
	</div>
	<div>.</div>
    </div>		</lb:loop_postings>

		<!--end of outer container div		
		<div>
		<p class="pagination" id="prev_page"><lb:link_prev_new>&laquo; View Newer Reports</lb:link_prev_new></p>
        	<p class="pagination" id="next_page"><lb:link_next_new>View Older Reports &raquo;</lb:link_next_new></p>
		</div>-->
		<ul class = "pager">
   			<li class = "previous"><lb:link_prev_new>&larr; Newer</lb:link_prev_new></li>
   			<li class = "next"><lb:link_next_new>Older &rarr;</lb:link_next_new></li>
		</ul>
            </div>
          
          </div>
          
          
         
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          
	  


          <div class="single_sidebar ">            
            <h2><span>Language of report</span></h2>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php" id="alllang" class="active">All Languages</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=gondi" id="gondi">Gondi</a></li>
                  
                </ul>
              </div>             
            </div>
          </div>



          <div class="single_sidebar ">
            <h2><span>Subject</span></h2>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                  <li class="cat-item active"><a href="http://cgnetswara.org/stanford/index_new.php?tag=water" id="water">Water</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=handpump" id="handpump">Handpump</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=electricity" id="electricity">Electricity</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=forest" id="forest">Forest</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=nrega" id="nrega">NREGA</a></li>
                  <li class="cat-item"><a href="http://cgnetswara.org/stanford/index_new.php?tag=land" id="land">Land</a></li>
                </ul>
              </div>             
            </div>
          </div>


          <div class="single_sidebar ">            
            <h2><span>Location</span></h2>
            <div class="tab-content">
              <div id="map">My map will go here</div>          
            </div>
          </div>
          
	<h3>Search Reports &raquo;</h3>
	<gcse:searchbox></gcse:searchbox>

	<h3>Android App &raquo;</h3>
	<a href="http://cgnetswara.org/CGNetSwara.apk">Click to Download</a>
	
        </aside>
      </div>
    </div>
  </section>
  <footer id="footer">
    
    <div class="footer_bottom">
      <!--<p class="copyright">Copyright &copy; CGNet Swara</p>-->
      
  </footer>
</div>
<!--
<script src="assets/js/jquery.min.js"></script> 
<script src="assets/js/wow.min.js"></script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/slick.min.js"></script> 
<script src="assets/js/jquery.li-scroller.1.0.js"></script> 
<script src="assets/js/jquery.newsTicker.min.js"></script> 
<script src="assets/js/jquery.fancybox.pack.js"></script> 
<script src="assets/js/custom.js"></script>
<script>
	getParameters = window.location.search.substr(1);
	tagValue = getParameters.split('=')[1];
	if(tagValue){
	var tagElement = document.getElementById(tagValue);
	tagElement.style.backgroundColor = "#e9866d";
	tagElement.className = "active";
	tagElement.href = "javascript: void(0)";
	}
</script>-->
<!--
<script>
(function() {
var cx = '005349027740482927274:igk87wluiru'; // Insert your own Custom Search engine ID here
var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
})();
</script>-->
<script src="assets/js/complete.js"></script>
<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXBHoBHfatiHqyS2hRQeYfhJ0cT1x1wAc&callback=initMap">
</script>
</body>
</html>
