<!DOCTYPE html>
<html>
<head>
<title>Contact - CGNet Swara</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../assets/css/complete.css">
<link rel="icon" type="image/png" href="http://cgnetswara.org/stanford/loudblog/custom/templates/default/images/cgnetLogo.png">
<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.min.js"></script>
<script src="../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="http://cgnetswara.org/stanford/index_new.php">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="recognition.html">Recognition</a></li>
              <li><a href="#">Contact</a></li>              
            </ul>
          </div>          
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="http://cgnetswara.org/stanford/index_new.php" class="logo"><img src="../images/cgnetLogo.png" alt=""></a></div>          
          <div class="heading-content">
		<h4>CGNet Swara is a platform to discuss issues related to Central Gondwana region in India.</h4>
		<h4> To record a message, call us on +91-8050068000.</h4>
	  </div>
	  <div class="social_area" style="margin-right: 15px;">
            <ul class="social_nav" >
              <li class="facebook"><a href="https://www.facebook.com/CGNetSwara/"></a></li>
              <li class="twitter"><a href="https://twitter.com/CGnet_Swara"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="about-content">
          <h2>Contact Us</h2>
          <p>Most of our team is based in New Delhi and Bengaluru, India.</p>
          <p>Inquiries can be addressed to Shubhranshu Choudhary at <a href="mailto:shu@cgnet.in">shu@cgnet.in</a>.</p>
        </div>
      </div>        
    </div>
    <div style="height: 615px;"></div>
  </section>
  <footer id="footer">
    <div class="footer_bottom">
      <!--<p class="copyright">Copyright &copy; CGNet Swara</p>-->
    </div>
  </footer>
</div>
<script src="../assets/js/complete.js"></script>
</body>
</html>