<!DOCTYPE html>
<html>
<head>
<title>Recognition - CGNet Swara</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../assets/css/complete.css">
<link rel="icon" type="image/png" href="http://cgnetswara.org/stanford/loudblog/custom/templates/default/images/cgnetLogo.png">
<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.min.js"></script>
<script src="../assets/js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="http://cgnetswara.org/stanford/index_new.php">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="#">Recognition</a></li>
              <li><a href="contact.html">Contact</a></li>              
            </ul>
          </div>
          
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="http://cgnetswara.org/stanford/index_new.php" class="logo"><img src="../images/cgnetLogo.png" alt=""></a></div>
          <div class="heading-content">
		<h4>CGNet Swara is a platform to discuss issues related to Central Gondwana region in India.</h4>
		<h4> To record a message, call us on +91-8050068000.</h4>
	  </div>
	  <div class="social_area" style="margin-right: 15px;">
            <ul class="social_nav" >
              <li class="facebook"><a href="https://www.facebook.com/CGNetSwara/"></a></li>
              <li class="twitter"><a href="https://twitter.com/CGnet_Swara"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="about-content">
        	<h2>Awards</h2>
        	<ul>
             	<li class="award-content">
                  <img src="../images/mbillionth-small.png" height="40" /></br>                
                  <a href="http://mbillionth.in/category/mbillionth-2010-winners/m-news-journalism-mbillionth-2010-winners/">mBillionth Award, 2010</a>
                	</br></br>
              	</li>

              	<li class="award-content">
                  <img src="../images/egov-small.png" height="50" /></br>             
                  <a href="http://www.eindia.net.in/egov2d0/press-release.aspx">India eGov 2.0 Award, 2010</a>.<br><i>First Place, Social Media Usage (Jury Award)</i></br></br>
                </li>
            </ul>
        </div>
        <div class="about-content">
        	<h2>International Media (English)</h2>
        	<ul>

				<li><a href="http://news.nationalgeographic.com/news/2014/09/140926-naxalites-maoists-india-adivasi-phone-app-technology/">In Jungles of India, New Phone App Helps Indigenous Tribes Embroiled in Maoist Insurgency</a>.<br>
				National Geographic, September 2014.
				</li>

				<li><a href="http://news.nationalgeographic.com/news/innovators/2014/06/140617-shubhranshu-choudhary-india-maoists-citizen-journalism/">Shubhranshu Choudhary: Giving a Voice to a Ravaged, Neglected Region</a>.<br>
				National Geographic, June 2014.
				</li>

				<li><a href="https://in.news.yahoo.com/democratising-journalism-giving-remote-tribal-areas-voice-051803912.html">Democratising journalism: Giving remote tribal areas a voice</a>.<br>
				IANS, May 2014
				</li>

				<li><a href="http://www.journalismforchange.com/interviews/2014/3/26/the-talking-revolution-an-interview-with-shubranshu-choudhary">The Talking Revolution: An Interview With Shubranshu Choudhary</a>.<br>
				Journalism for Change, March 26, 2014
				</li>

				<li><a href="http://www.bbc.co.uk/blogs/blogcollegeofjournalism/posts/How-citizen-journalists-on-mobiles-are-democratising-news-in-central-India-">How citizen journalists on mobiles are ‘democratising’ news in central India</a>.<br>
				BBC, May 2, 2014
				</li>

				<li><a href="http://www.dc4mf.org/fr/node/4910">CGNet Swara: a Voice for the Voiceless</a>.<br>
				Doha Center for Media Freedom, April 2014
				</li>

				<li><a href="http://www.huffingtonpost.co.uk/preetam-kaushik/a-voice-of-hope-for-india_b_5021523.html">A Voice of Hope for India's Unprivileged</a>.<br>
				Huffington Post, March 2014
				</li>

				<li><a href="http://www.huffingtonpost.com/david-sable/india-can-ingnite-your-im_b_4979677.html">India Can Ignite Your Imagination</a>.<br>
				Huffington Post, March 2014
				</li>

				<li><a href="http://www.business-standard.com/article/news-ians/award-for-indian-journalist-activist-114032100928_1.html">Award for Indian journalist-activist</a>.<br>
				Business Standard, March 2014
				</li>

				<li><a href="http://www.huffingtonpost.co.uk/2014/03/21/india-shu-choudary_n_5007765.html">Indian Journalist Shu Choudary Beat Edward Snowden To Be Digital Activist Of The Year, For Creating News For Those Who Can't Read</a>.<br>
				Huffington Post, March 2014
				</li>

				<li><a href="http://ibnlive.in.com/news/indian-journalist-beats-edward-snowden-to-win-2014-google-digital-activism-award/459203-11.html">Indian journalist beats Edward Snowden to win 2014 Google Digital Activism Award</a>.<br>
				IBN Live, March 2014
				</li>

				<li><a href="http://www.dw.de/journalism-should-become-everyones-business/a-17513443">Journalism should become everyone’s business</a>.<br>
				DW News, March 2014
				</li>

				<li><a href="http://www.globalpost.com/dispatches/globalpost-blogs/rights/india-rape-crisis-citizen-journalism">Innovators enlist citizen journalists to combat India.s rape crisis</a>.<br>
				Global Post, November 26, 2013.
				</li>

				<li><a href="http://cgnetswara.org/india-calling.pdf">India Calling</a>.<br>
				Index on Censorship, Sage Jounals, September 2013.<br>
				<i>Reproduced with permission from the <a href="http://ioc.sagepub.com/content/42/3/62.full.pdf+html">Sage Journals website</a>.</i>
				</li>

				<li><a href="http://india.blogs.nytimes.com/2013/10/02/citizen-journalism-grows-in-indias-war-torn-tribal-belt/?_r=1">Citizen Journalism Grows in India.s War-Torn Tribal Belt</a>.
				<br>New York Times, October 2, 2013.
				</li>

				<li><a href="http://www.pbs.org/idealab/2013/08/taking-tribal-voices-mainstream">How a Voice Portal Helped Spread Women's Tribal Stories in India</a>.
				<br>PBS, August 5, 2013.
				</li>

				<li><a href="http://technoholik.com/news/internet/social_media/taking-back-the-tech-interview-with-the-cofounder-of-mojolab/3414">Taking Back The Tech: Interview with the co-founder of Mojolab</a>.
				<br>TechnoHolik, April 29, 2012.
				</li>

				<li><a href="http://edition.cnn.com/2012/02/22/tech/mobile/india-mobile-citizen-journalism/index.html">Phone journalism gives a voice to India's rural poor</a>.
				<br>CNN, February 22, 2012.
				</li>

				<li><a href="http://blogs.wsj.com/indiarealtime/2011/11/21/audio-blogging-from-indias-maoist-heartland/">Audio-Blogging From India's Maoist Heartland</a>.
				<br>The Wall Street Journal, November 21, 2011.
				</li>

				<li>
				<a href="http://www.cjr.org/reports/urgent_call.php">Urgent Call</a>.
				<br>Columbia Journalism Review, September/October, 2011.
				</li>

				<li>
				<a href="http://www.bbc.co.uk/hindi/india/2010/11/101124_mobile_news_skj.shtml">Listen to my voice!</a>.
				<br>BBC News, November 27, 2010.
				</li>

				<li>
				<a href="http://www.theatlantic.com/international/archive/2010/06/bringing-news-to-indias-poorest-people/58898/">Bringing News to India's Poorest People</a>.
				<br>The Atlantic, June 29, 2010.
				</li>

				<li>
				<a href="http://in.reuters.com/article/topNews/idINIndia-48388320100511">India's neglected tribes gain voice in mobile news service</a>.
				<br>Reuters, May 11, 2010.
				</li>

				<li>
				<a href="http://ipsnews.net/text/news.asp?idnews=51316">Mobile Phone-Based News System Gives Voice to Tribals</a>.
				<br>IPS News, May 5, 2010.
				</li>

				<li>
				<a href="http://news.bbc.co.uk/2/hi/south_asia/8617943.stm">Giving a voice to India's villagers</a>.
				<br>BBC News, April 25, 2010.
				</li>

			</ul>
        </div> 
        <div class="about-content">
        	<h2>Indian Media (English)</h2>
        	<ul>

				<li><a href="http://www.dnaindia.com/india/report-ever-heard-of-puppet-journalism-cgnet-swara-s-innovative-approach-to-citizen-journalism-1992942">Ever heard of 'Puppet journalism'? CGnet Swara's innovative approach to citizen journalism</a>.<br>
				DNA India, June 2014.

				<li><a href="http://www.hindustantimes.com/comment/analysis/shoddy-implementation-of-schemes-like-fra-will-cost-congress-dear/article1-1216956.aspx">Shoddy implementation of schemes like FRA will cost Congress dear</a>.<br>
				Hindustan Times, May 8, 2014

				<li><a href="http://indianexpress.com/article/india/india-others/the-medium-is-the-message/">The Medium is the Message</a>.<br>
				Indian Express, April 2014

				<li><a href="http://www.dnaindia.com/india/report-2014-digital-freedom-award-the-indian-who-beat-edward-snowden-1970895">2014 Digital Freedom Award: The Indian who beat Edward Snowden</a>.<br>
				DNA India, March 2014

				<li><a href="http://www.livemint.com/Consumer/Bj8phV6COEqlGMp3HhIuuL/CGNet-Swara-Shifting-the-power-of-journalism-to-the-mobile.html">CGNet Swara: Shifting the power of journalism to the mobile phone for Adivasis</a>.<br>
				LiveMint, March 2014

				<li><a href="http://bdnews24.com/media-en/2014/03/21/bengali-journalist-pips-snowden">Bengali journalist pips Snowden</a>.<br>
				BD News, March 2014

				<li><a href="http://www.hindustantimes.com/india-news/indian-journalist-beats-snowden-to-win-top-digital-activism-award/article1-1198121.aspx">Indian journalist wins top digital activism award</a>.<br>
				Hindustan Times, March 2014

				<li><a href="http://indianexpress.com/article/india/india-others/indian-journalist-beats-snowden-to-win-google-digital-activism-award/">Indian journalist beats Snowden to win Google Digital Activism Award</a>.<br>
				Indian Express, March 2014

				<li><a href="http://www.thehindu.com/sci-tech/technology/bhopal-journalist-wins-digital-activism-award/article5814955.ece">Bhopal journalist wins Digital Activism award</a>.<br>
				The Hindu, March 2014

				<li><a href="http://timesofindia.indiatimes.com/city/delhi/Journalist-Shubhranshu-Choudhary-wins-Digital-activism-award/articleshow/32373113.cms">Journalist Shubhranshu Choudhary wins 'Digital activism award'</a>.<br>
				Times of India, March 2014

				<li><a href="http://www.mid-day.com/articles/make-media-democratic-says-2014-google-digital-activism-award-winner-shubhranshu-choudhary/15176063">Make media democratic, says 2014 Google Digital Activism Award winner Shubhranshu Choudhary</a>.<br>
				Mid Day News, March 2014

				<li><a href="http://www.tehelka.com/giving-a-voice-to-the-voiceless/">Giving A Voice To The Voiceless</a>.<br>
				Tehelka, March 2014

				<li><a href="http://www.mumbaimirror.com/columns/columnists/ajit-ranade/Newsflash-in-dark-spots/articleshow/32867429.cms">Newsflash in dark spots</a>.<br>
				Mumbai Mirror, March 2014

				<li><a href="http://indianexpress.com/article/india/india-others/scripting-their-stories/">Scripting Their Stories</a>.<br>
				Indian Express, February 2014

				<li><a href="http://timesofindia.indiatimes.com/city/ranchi/Swara-gives-power-to-the-voiceless/articleshow/30280936.cms">Swara gives power to the voiceless</a>.<br>
				Times of India, February 2014

				<li><a href="http://www.ipsnews.net/2013/11/a-google-for-indias-poor/">A Google for India's poor</a>.<br>
				IPS News, November 24, 2013.

				<li><a href="http://www.thehindu.com/features/magazine/the-new-jungle-drums/article5335263.ece">The new jungle drums</a>.<br>
				The Hindu, November 12, 2013.

				<li><a href="http://www.livemint.com/Leisure/JLMeY7AwookCpyraa04b0O/CGNet-Swara--Spreading-a-revolution-with-words.html">CGNet Swara | Spreading a revolution with words</a>.<br>
				Mint / Wall Street Journal, November 1, 2013.

				<li><a href="http://www.telegraphindia.com/1131027/jsp/7days/17499571.jsp">Tuning into the rural chatterati</a>.<br>
				The Telegraph, October 27, 2013.

				<li><a href="http://www.mid-day.com/lifestyle/2013/oct/131013-mobile-phone-journalism-underprivileged-indian-villagers-initiatives.htm">Mobile phone journalism helping underprivileged Indian villagers to voice their plight.</a><br>
				Mid Day, October 19, 2013.

				<li><a href="http://www.thehindu.com/news/national/other-states/tribal-woman-gangraped-at-surguja/article5015472.ece">Tribal woman gangraped at Surguja.</a> (Source attributed to CGNet Swara)<br>
				The Hindu, August 12, 2013.

				<li><a href="http://www.tehelka.com/a-mobile-war-against-the-naxals/">A Mobile War Against The Naxals.</a><br>
				Tehelka, June 15, 2013.

				<li><a href="http://www.dnaindia.com/analysis/column_connecting-citizens_1809392">Connecting citizens.</a><br>
				DNA India, March 10, 2013.

				<li><a href="hindustantimes051212.png">Now, CGNet makes daring foray into MP.</a><br>
				Hindustan Times, December 5, 2012.

				<li><a href="http://www.asiacalling.kbr68h.com/en/news/india/2854-indias-mobile-phone-news-agency">India's Mobile Phone News Agency.</a><br>
				Asia Calling, Sep 1, 2012.

				<li><a href="http://www.tehelka.com/story_main53.asp?filename=Ne010912SHUBHRANSHU.asp">Banking on the phone.</a><br>
				Tehelka, Aug 27, 2012.

				<li><a href="http://www.thehindu.com/todays-paper/tp-national/tp-andhrapradesh/article3571182.ece#.T-kHqIEREmo.email">Reaching out to tribal people.</a><br>
				The Hindu, Jun 26, 2012.

				<li><a href="http://socialprotectioncommunity.in/2012/06/15/good-morning-from-chattisarh/">Good morning from Chattisgarh!</a><br>
				Prayas, Jun 15, 2012.

				<li><a href="http://www.rajasthanpatrika.com/article/Hum%20Tum/2192012/Hum-Tum-special-article/286537">Mobile becomes voice of Adivasis.</a><br>
				Patrika Newspaper, Feb 19, 2012.

				<li><a href="http://rise.mahindra.com/cgnet-swara-the-rise-of-the-citizen-journalist/">CGNet Swara: The Rise of the Citizen-Journalist.</a><br>
				Mahindra Rise, Nov 29, 2011.

				<li><a href="http://www.andhranews.net/India/2011/Orissa-tribals-use-communication-technology-herald-9101.htm">Orissa tribals use communication technology to herald change in region.</a><br>
				AndhraNews.net, Oct 13, 2011.

				<li><a href="http://www.orissadiary.com/ShowDistrictNews.asp?id=29461">Orissa: Workshop on democratization of media at Koraput.</a><br>
				Orissadiary.com, Sep 29, 2011.

				<li><a href="http://www.livemint.com/2011/09/21220509/Giving-villagers-a-voice-to-sp.html">Giving villagers a voice to spur change.</a><br>
				Mint, Sep 21, 2011.

				<li><a href="http://www.cxotoday.com/story/mobiles-deliver-news-in-maoist-heartland/">Mobiles deliver news in Chhattisgarh.</a><br>
				CXO Today, Aug 30, 2011.

				<li><a href="http://www.frontline.in/stories/20110812281608900.htm">In their voice.</a><br>
				Frontline, Volume 28, Issue 16 (Jul 30 - Aug 12, 2011).

				<li><a href="http://www.hardnewsmedia.com/2011/07/4051">Select Adivasi News.</a><br>
				HardNews, July 25, 2011.

				<li><a href="http://www.himalmag.com/component/content/article/4472.html">Broadcasting Dantewada.</a><br>
				Himal Magazine, June, 2011.

				<li><a href="http://www.countercurrents.org/iqbal280810.htm">Land Nor Freedom.</a><br>
				Counter Currents, August 28, 2010.

				<li><a href="http://www.hindu.com/mag/2010/07/04/stories/2010070450090300.htm">Voices in the wilderness.</a><br>
				The Hindu, July 4, 2010.

				<li><a href="http://www.business-standard.com/india/news/sreelatha-menon-mediathe-masses/398805/">Media of the masses.</a><br>
				Business Standard, June 20, 2010.

				<li><a href="http://www.telegraphindia.com/1100530/jsp/7days/story_12502810.jsp">By the tribal, for the tribal.</a><br>
				The Telegraph, May 30, 2010.

				<li><a href="http://www.thehindubusinessline.com/life/2010/05/28/stories/2010052850180400.htm">Ear to the mobile.</a><br>
				The Hindu Business Line, May 28, 2010.

				<li><a href="http://www.hindustantimes.com/StoryPage/Print/543445.aspx">Phone media brings news to India's Maoist heartland.</a><br>
				Hindustan Times, May 14, 2010.

				<li><a href="http://news.rediff.com/report/2010/may/14/chhattisgarh-tribals-turn-into-new-age-reporters.htm">Chhattisgarh tribals turn into reporters on cellphones.</a><br>
				Rediff News, May 14, 2010.

				<li><a href="http://in.reuters.com/article/2010/05/11/idINIndia-48388320100511">India's neglected tribes gain voice in mobile news service.</a><br>
				Reuters, May 11, 2010.

				<li><a href="http://www.openthemagazine.com/article/real-india/chhatisgarhi-mobile-radio ">Chhatisgarhi Mobile Radio.</a><br>
				Open, May 8, 2010.

				<li><a href="http://www.hindustantimes.com/A-coming-out-party/H1-Article1-539853.aspx">A coming-out party.</a><br>
				Hindustan Times, May 5, 2010.

				<li><a href="http://newshopper.sulekha.com/ians-newslist-554.htm">Mobile media venture gives voice to Gond tribals.</a><br>
				Indo-Asian News Service, April 18, 2010.

				<li><a href="http://epaper.mailtoday.in/Details.aspx?boxid=231339765&id=35066&issuedate=642010">Radio via phone helps link tribals.</a><br>
				Mail Today, April 6, 2010.

				<li><a href="http://www.hindu.com/2010/02/16/stories/2010021657032000.htm">News in dialects may soon be just a call away.</a><br>
				The Hindu, February 16, 2010.

				<li><a href="http://www.hardnewsmedia.com/2010/06/3584">Dial D for Dantewada.</a><br>
				Hard News Media, February 1, 2010.

			</ul>

        </div> 
        <div class="about-content">
        	<h2>Indian or International Media (Non-English)</h2>
        	<ul>

				<li><a href="http://www.bbc.co.uk/hindi/india/2013/10/131007_elephant_chhattisgarh_part_three_aj.shtml">      
				अमावस की रात में हाथियों का कहर 

				</a>. (Hindi)
				<br>BBC Hindi Edition, October 7, 2013.

				<li><a href="http://www.bbc.co.uk/hindi/india/2013/09/130910_digital_indians_gramvaani_cgnetswar_tb.shtml">डिजिटल इंडियंस: जहां अखबार, रेडियो, टीवी नहीं, 'वहां मोबाइल मीडिया' </a>

				. (Hindi)<br>BBC Hindi Edition, September 10, 2013.


				<li><a href="http://www.bbc.co.uk/hindi/india/2013/08/130808_chattisgarh_bribe_return_aa.shtml">जिसने लौटाए घूस के 99,000 रुपए </a>(Source cited as CGNet Swara.)<br>
				BBC Hindi Edition, August 9, 2013.

				<li><a href="eenadu180313.jpg">Article on CGNet Swara</a> (Telugu)<br>
				Eenadu, March 18, 2013.

				<li><a href="http://cgnetswara.org/naiduniya051212.png">Article on CGNet Swara</a> (Hindi)<br>
				NaiDuniya, December 5, 2012.

				<li><a href="anubhav.pdf">Interview with Shubhranshu Choudhary.</a> (Marathi)<br>
				Anubhav, October, 2012.

				<li><a href="">CGNet Swara.</a> (Kannada)
				<br>Scanned version: 
				<a href="http://cgnetswara.org/loudblog/custom/templates/default/i/Udayavani1.pdf">page 1</a>,
				<a href="http://cgnetswara.org/loudblog/custom/templates/default/i/Udayavani2.pdf">page 2</a>.<br>
				Udayavani, July, 2012.

				<li><a href="http://cgnetswara.org/loudblog/custom/templates/default/i/kerala.pdf">CGNet Swara.</a> (Malayalam)<br>
				July, 2012.

				<li><a href="http://www.periodismociudadano.com/2010/07/22/cgnet-swara-la-voz-de-los-invisibles/">CGNET Swara: La voz de los invisibles.</a> (Spanish)<br>
				Periodismociudadano, July, 2012.

				<li><a href="http://www.madhyamam.com/news/175250/120626">CGNet Swara.</a> (Malayalam)<br>
				Madhyamam, June, 2012.

				<li><a href="http://www.periodismociudadano.com/2012/03/01/cgnet-swara-convierte-el-movil-en-la-heramienta-mas-democratica-de-la-india/">CGnet Swara convierte el movil en la heramienta mas democratica de la India.</a> (Spanish)<br>
				Periodismociudadano, March, 2012.

				<li><a href="http://www.esakal.com/esakal/20111122/5125382263856011636.htm">CGNet Swara.</a> (Marathi)
				<br>Also available as a <a href="http://cgnetswara.org/loudblog/custom/templates/default/i/esakal.jpg">scanned version</a>.<br>
				eSakal, November, 2011.

			</ul>
        </div>    
        <div class="about-content">
        	<h2>Television and Video</h2>
        	<ul>

				<li><a href="http://www.youtube.com/watch?v=n5QCuaasazw">Journalist Shubhranshu Choudhary beats Edward Snowden to win 'Digital activism award'</a>.  <br>
				DD News Official, March 2014

				<li><a href="http://www.newsnation.in/videos/india/news_items-8/5015">Jai Ho - The Real Heroes of India</a>.  <br>
				News Nation, February 2014

				<li><a href="http://http://khabar.ndtv.com/video/show/news/298867">गरीब आदमी का सोशल नेटवर्क</a>.  <br>
				NDTV, December, 2013.

				<li><a href="http://www.ndtv.com/video/player/news/voices-of-india-hit-the-airwaves/302380">Voices of India hit the airwaves</a>.  <br>
				NDTV, December 23, 2013.

				<li><a href="http://khabar.ndtv.com/video/show/news/298867">Social network for a poor man</a> (Hindi).<br>
				NDTV, November 22, 2013.

				<li><a href="http://www.youtube.com/watch?v=cAt_5lXI1PA">Interview with Shubhranshu Choudhary.</a><br>
				NRI Samay (Los Angeles Radio Station), April, 2013.

				<li><a href="https://www.youtube.com/watch?v=OaQGM8vhnc0">Program on CGNet Swara.</a><br>
				Tribal FM Radio - Vizag, April, 2013.

				<li><a href="http://www.youtube.com/watch?v=FNBi00niNPE">Tipping Point - Stalin, Amita Tute & Shubhranshu Choudhary.</a><br>
				Tehelka's THiNK 2012 session on "People's Bandwidth: Deepening Democracy Through Technology", November, 2012.

				<li><a href="http://www.youtube.com/watch?v=Njp4it4GWzs">Technology to usher in development in Maoist-hit areas.</a><br>
				Local TV Stations, November, 2011.

				<li><a href="http://www.youtube.com/watch?v=Q6l-LXGRodw">CGNet Swara.</a><br>
				Two Circles TV, July 5, 2010.

				<li><a href="http://www.youtube.com/watch?v=CCxj45Wi_mg">India's Tribal Citizens Use New Cell Phone Technology to Produce Local News.</a><br>
				International Center for Journalists, March 25, 2010.

				<li><a href="http://www.ndtv.com/video/player/news/a-radio-station-not-just-for-tribals-but-of-tribals/140754">A radio station not just for tribals, but of tribals.</a><br>
				NDTV, February 2010.

			</ul>        	
        </div>   
        <div class="about-content">
        	<h2>Websites</h2>
        	<ul>

				<li><a href="http://tech.firstpost.com/news-analysis/indian-journalist-shubranshu-choudhary-beats-snowden-to-win-digital-activism-award-for-regional-news-service-220196.html">Indian journalist Shubranshu Choudhary wins digital activism award for regional news service</a>.<br>
				Tech 2 News, March 2014

				<li><a href="http://scroll.in/article/indian-tribal-media-initiative-competing-with-snowden-for-global-prize?id=658343">Innovative Indian journalism initiative for adivasis competes with Snowden for global prize</a>.<br>
				Scroll.In, March 2014

				<li><a href="http://techpresident.com/news/wegov/24585/citizen-journalists-take-rape-and-domestic-violence">Citizen Journalists Take On Rape And Domestic Violence</a>.<br>
				Tech President, December, 2013.

				<li><a href="http://www.greenpeace.org/india/en/Press/Struggle-finds-a-New-Voice-with-Radio-Sangharsh/">Struggle finds a New Voice with Radio Sangharsh</a>.<br>
				Greenpeace India, November 22, 2013.

				<li><a href="http://techpresident.com/news/wegov/24282/citizen-journalism-and-mgovernance-rural-india">Citizen Journalism and mGovernance in Rural India</a><br>
				Tech President, August 19, 2013.

				<li><a href="http://www.occupy.com/article/how-women-and-mobile-media-are-raising-citizens-voices-india">How Women and Mobile Media Are Raising Citizens' Voices In India</a><br>
				Occupy.com, June 24, 2013.

				<li><a href="https://reutersinstitute.politics.ox.ac.uk/about/news/item/article/lets-call-it-journalism.html">Let's call it.... journalism?</a><br>
				Reuters Institute for the Study of Journalism, February 27, 2013.

				<li><a href="http://sanki.in/2012/09/17/of-chhattisgarh-and-mit-of-journalism-and-change-cgnet-swara/">Of Chhattisgarh and MIT. Of Journalism and Change : CGNet Swara</a><br>
				Sanki.in, September 17, 2012.

				<li><a href="http://www.publichealthglobal.org/index.php?option=com_content&view=article&id=265:the-missed-call-revolution-news-and-justice-for-all&catid=49:articles&Itemid=87">The "Missed Call" Revolution News and Justice for All</a><br>
				Public Global Health Network, November 17, 2011.

				<li><a href="http://globalvoicesonline.org/2011/11/01/global-voices-podcast-bridging-the-language-gaps/">Global Voices Podcast: Bridging the Language Gaps</a><br>
				Global Voices, November 1, 2011.

				<li><a href="http://www.justfemme.in/CGNET-Swara-empowering-tribals-mobile-way">Empowering tribals, the mobile way</a><br>
				Just Femme, April 4, 2011.

				<li><a href="http://www.thehoot.org/web/home/story.php?storyid=5143&mod=1&pg=1&sectionId=3">Mothers and daughters give voice to tribals</a><br>
				The Hoot, February 26, 2011.

				<li><a href="http://tinyurl.com/393aftc">Kuanjam I'm saying!</a><br>
				Network6, Ocotber 6, 2010.

				<li><a href="http://www.audiencescapes.org/citizen-journalism-only-phone-call-away-India-CGnet-Swara-MIT-mobile-communications">Citizen Journalism Only a Phone Call Away.</a><br>
				AudienceScapes, September 3, 2010.

				<li><a href="http://infochangeindia.org/201008248475/Technology/Stories-of-change/The-people-s-voice.html">The people's voice.</a><br>
				InfoChange News & Features, August 2010.

				<li><a href="http://mobileactive.org/case-studies/cgnet-swara">CGNet Swara.</a><br>
				MobileActive, July 8, 2010.

				<li><a href="http://twocircles.net/2010jul06/cgnet_swara_voice_unheard.html">CGNet Swara: Voice of the unheard.</a><br>
				Two Circles, July 7, 2010.

				<li><a href="http://www.radioandmusic.com/content/editorial/news/community-radio-rides-mobile-chattisgarh">Community radio rides on mobile in Chattisgarh.</a><br>
				RadioAndMusic.com, May 24, 2010.

				<li><a href="http://www.nayaindia.net/nayaindia/?p=660">Mobile News on your bid.</a><br>
				Naya India, May 20, 2010.

				<li><a href="http://www.thehoot.org/web/freetracker/story.php?storyid=63&sectionId=5">Vox Populi Chhattisgarh - What an Idea, Sirji!.</a><br>
				The Hoot, May 15, 2010.

			</ul>        	
        </div> 
        <div class="about-content">
        	<h2>Blogs</h2>
        	<ul>

				<li><a href="http://in.reset.org/blog/times-pieces-line-cgnet-swara">TIMES Pieces: On the Line with CGNet Swara</a><br>
				Reset For a Better World, September, 2013.

				<li><a href="http://voices.halabol.com/2013/07/21/cgnet-swara-%E2%80%93-medium-masses-masses">CGNet Swara . Medium For Masses, Of Masses!</a><br>
				Halabol Voices, July, 2013.

				<li><a href="http://thesleevesrolledupyears.blogspot.in/2013/04/weresingingholisongs.html">We're Singing Holi Songs.</a><br>
				Weblog, April, 2013.

				<li><a href="http://www.nextbigwhat.com/cgnet-swara-mit-technology-is-solving-indias-biggest-internal-security-threat-297/">How a hack with MIT's technology is solving India's biggest internal security threat.</a><br>
				NextBigWhat, September, 2012.

				<li><a href="http://rodrigodavies.wordpress.com/2012/06/21/giving-voice-to-indias-silent-communities/">Giving voice to India's silent communities.</a><br>
				Rodrigo Davies, June 21, 2012.

				<li><a href="http://rising.globalvoicesonline.org/blog/2012/04/22/cgnet-swara-enabling-tribals-of-chhattisgarh-to-tell-their-stories/">
				CGNet Swara: Enabling Tribals of Chhattisgarh To Tell Their Stories.
				</a><br>
				Rising Voices, April 22, 2012.

				<li><a href="http://blog.brutelabs.org/2010/12/cgnet-swara-voice-portal-for-citizen.html">CGNet Swara: A Voice Portal for Citizen News Journalism in India.</a><br>
				Brute Labs, December 6, 2010.

				<li><a href="http://cpj.org/blog/2010/03/circumventing-indias-radio-news-ban.php">Circumventing India's radio news ban.</a><br>
				Committee to Protect Journalists, May 23, 2010.

				<li><a href="http://ndn.org/blog/2010/04/empowered-information-cgnet-swara-chhattisgarh">Empowered by Information: CGnet Swara in Chhattisgarh.</a><br>
				NDN, April 26, 2010.

				<li><a href="http://knight.icfj.org/OurWork/OurResults/CellPhoneNetworkinIndia/tabid/1589/Default.aspx">India's Tribal Citizens Use New Cell Phone Network to Produce Local News.</a><br>
				International Center for Journalists, February 2010.

			</ul>
        </div>
     </div> 
    </div>
  </section>
  <footer id="footer">
    <div class="footer_bottom">
      <!--<p class="copyright">Copyright &copy; CGNet Swara</p>-->
    </div>
  </footer>
</div>
<script src="../assets/js/complete.js"></script>
</body>
</html>